/* Universal css */
*{
    margin: 0px;
    padding: 0px;
}

/* Override the default font size */
body {
    font-size: 16px;
  }
  
  /* Override the default text color */
  body {
    color: #333;
  }
  
  /* Override the default link color */
  a {
    color: #000;
  }  

/* Shared CSS */

body {
    font-family: Open Sans;
    line-height: normal;
    color: #474747;
}

.btn-primary{
    background-color:#532cdf;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
}


/* Nav css */

.logo p span {
    color: #532cdf;
}

.logo p{
    color: #181818;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
}

.logo p .logo-text{
    height: 120px;
    width: 60px;
}

.nav-menu ul li{
    list-style: none;
    margin-right: 25px;
}

.nav-menu ul li a{
    text-decoration: none;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container {
    padding-top: 40px;
}

/* Header Css */

.header-container {
    max-width: 100%; 
    height: auto; 
    background: #FFF8F3;
    background-image: url('../images/header_bg_blue.png'), url('../images/developer.png');
    background-position: bottom right, bottom left;
    background-repeat: no-repeat;
    background-size: 600px, 80px;
}

.greeting{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}

.hello{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
}

.intro{
    margin-left: 150px;
    margin-top: 150px;
}

.intro-container{
    display: flex;
    position: relative;
}

.intro-img img {
    position: absolute;
    margin-top: 6px;
}

#contact-btn{
    background-color: #FFF8F3;
    border: 1px solid #532cdf;
    color: #532cdf;
    margin-left: 10px;
    padding: 9px 24px;
}

/* Main area */
/* About */

.about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-container {
    margin: 0 auto;
    width: 70%;
    height: 350px;
    border-radius: 10px;
    background: #FFF8F3;
}

.about-text {
    margin-top: 50px;
}

.about-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 50px;
}

.about-description {
    color: #474747;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.id-iteams {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

/* Skills section */

.what-do h4 {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.what-do p {
    width: 909px;
    flex-shrink: 0;
    /* Typography */
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
    text-align: center;
}

.card {
    width: 250px;
    height: 300px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    line-height: 35px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

/* Resume section */

.resume-container h3 {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

#card h4 {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

#card h3 {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

#card {
    width: auto;
    line-height: 35px;
    text-align: left;
}

#pt {
    color: #757575;
    font-size: 25px;
    font-weight: 600;
}

#pst {
    color: var #757575;
    font-size: 20px;
    font-weight: 400;
}

.res-itm h4 {
    color: #474747;
    font-size: 15px;
    font-weight: 700;
}

#btn-cv {
    padding: 15px 30px;
    width: 200px;
    margin-left: 45%;
    /* margin-bottom: 50px; */
    margin-top: 300px;
    font-size: 15px;
}

/* Footer */

.footer-container {
    margin-top: 100px;
}

#ib img {
    margin-right: 15px;
}

.cards2-container {
    display: flex;
    justify-content: space-around;
}

/* .card2 {
    width: 50%;
} */

#feefty {
    width: 50%; !important
}

input {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    border: 0px;
    background-color: #b9a4e8;
    color: black;
    width: 100%;
}

::placeholder {
    text-align: left;
}

textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    border: 0px;
    background-color: #b9a4e8;
    color: #000000;
    width: 100%;
}

.card2 img {
    margin-right: 15px;
}

.footer-container {
    margin-bottom: 100px;
}

.card2 {
    line-height: 30px;
}