/* Universal css */
*{
    margin: 0px;
    padding: 0px;
}


/* Shared CSS */

body {
    font-family: Open Sans;
    line-height: normal;
    color: #474747;
}

.btn-primary{
    background-color:#532cdf;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
}


/* Nav css */

.logo p span {
    color: #532cdf;
}

.logo p{
    color: #181818;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
}

.logo p .logo-text{
    height: 120px;
    width: 60px;
}

.nav-menu ul li{
    list-style: none;
    margin-right: 25px;
}

.nav-menu ul li a{
    text-decoration: none;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container {
    padding-top: 40px;
}

/* Header Css */

.header-container {
    max-width: 100%; 
    height: auto; 
    background: #FFF8F3;
    background-image: url('../images/header_bg_blue.png'), url('../images/developer.png');
    background-position: bottom right, bottom left;
    background-repeat: no-repeat;
    background-size: 600px, 80px;
}

.greeting{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}

.hello{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
}

.intro{
    margin-left: 150px;
    margin-top: 150px;
}

.intro-container{
    display: flex;
}

#contact-btn{
    background-color: #FFF8F3;
    border: 1px solid #532cdf;
    color: #532cdf;
    margin-left: 10px;
    padding: 9px 24px;
}

/* Main area */
/* About */

.about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-container {
    margin: 0 auto;
    width: 70%;
    height: 350px;
    border-radius: 10px;
    background: #FFF8F3;
}

.about-text {
    margin-top: 50px;
}

.about-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 50px;
}

.about-description {
    color: #474747;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.id-iteams {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

/* Skills section */

.what-do h4 {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.what-do p {
    width: 909px;
    flex-shrink: 0;
    /* Typography */
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
    text-align: center;
}

.card {
    width: 250px;
    height: 300px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    line-height: 35px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}